.product{
    display: flex;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.button-main{
    background-color: coral;
    padding: 5px;
    width: 150px;
    height: 30px;
    border:1px solid beige;
    border-radius: 5px;
}